.footer {
  color: #0f969c;
  display: flex;
  font-size: 2rem;
  padding: 1rem 0 1.8rem 0;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: bolder;
}

.slideOut-footer {
  transform: translate(0, +100);
  transition: 1s;
}

.slideIn-footer {
  transform: translate(0, 0);
  transition: 1s;
}
