.reloader {
  &-container {
    text-align: center;
    padding: 4rem;
  }

  &-button {
    margin-right: auto;
    background-color: transparent;
    border: none;
    transform: scale(2);

    svg {
      fill: #0f969c;
    }

    &:hover {
      cursor: pointer;
      svg {
        animation: rotate 0.8s 1;
        fill: #1cdfe9;
      }
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(180deg);
      }
    }
  }
}
