.topbar {
  color: #0f969c;
  display: flex;
  font-size: 1.5rem;
  padding: 1.8rem 0 1rem 0;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: bolder;
  margin: 0 15rem 0 15rem;

  &_icon {
    transform: scale(1.8);
    width: 7rem;
    fill: #0f969c;
  }
}

.slideOut-topbar {
  animation: fadeouttopbar 1s 1;
  animation-fill-mode: forwards;
}

.slideIn-topbar {
  animation: fadeintopbar 1s 1;
  animation-fill-mode: forwards;
}

@keyframes fadeouttopbar {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100);
  }
}

@keyframes fadeintopbar {
  0% {
    transform: translate(0, -100);
  }
  100% {
    transform: translate(0, 0);
  }
}
