.words-per-min,
.error {
  color: #0f969c;
  font-size: 3rem;
  font-family: "Signika", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.description {
  font-size: 1.5rem;
}

.results-container {
  display: flex;
  margin: 3.5rem 25rem 0 25rem;
}
