.wordContainer {
  text-align: center;
  font-family: "Signika", sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  margin: 1rem 20rem 0 20rem;

  &_input {
    opacity: 0;
  }
}

.zoom {
  transition: 1s;
  transform: scale(1.2);
}

.space {
  padding: 0 0.1rem 0 0.1rem;
}
