@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");

@import "/styles/components/topbar/_topbar.scss";
@import "/styles/components/bodyContent/content/_wordSheet.scss";
@import "/styles/components/bodyContent/_shimmer.scss";
@import "/styles/components/footer/_footer.scss";
@import "/styles/components/_bodyContent.scss";
@import "/styles/components/_timer.scss";
@import "/styles/components/bodyContent/_reloader.scss";
@import "/styles/components/_result.scss";

.application_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-size: 62.5%;
  margin: 0 20rem 0 20rem;
  padding: 0;
}

.red {
  color: red;
}

.green {
  color: greenyellow;
}

.letter {
  color: gray;
}
