@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");

@import "/styles/components/topbar/_topbar.scss";
@import "/styles/components/bodyContent/content/_wordSheet.scss";
@import "/styles/components/bodyContent/_shimmer.scss";
@import "/styles/components/footer/_footer.scss";
@import "/styles/components/_bodyContent.scss";
@import "/styles/components/_timer.scss";
@import "/styles/components/bodyContent/_reloader.scss";
@import "/styles/components/_result.scss";

.application_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background-color: #030c0e;
}

.incorrect {
  color: rgba(255, 0, 0, 0.856);
  text-shadow: 1px 1px 2rem rgba(255, 0, 0, 0.651);
}

.correct {
  color: #1ae6f1de;
  text-shadow: 1px 1px 2rem #1ae6f180;
}

.letter {
  color: gray;
}

.space-error {
  border-bottom: 0.5px solid rgba(255, 0, 0, 0.856);
}

.application_wrapper {
  overflow: hidden;
}
